@model TimpusProject.ModelView.ChangePasswordVM

<div class="card">
        <div class="card-body">
            <form asp-controller="Accounts" asp-action="ChangePassword" method="post">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="col-auto">
                            <label for="PasswordNow" class="col-form-label fs-6">Current Password</label>
                        </div>
                        <div class="col-auto">
                            <input asp-for="PasswordNow" type="password" class="form-control" aria-describedby="passwordHelpInline">
                        </div>
                        <div class="col-auto">
                            <span id="passwordHelpInline" class="form-text font-weight-light">
                                Enter your current password
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="col-auto">
                            <label for="Password" class="col-form-label fs-6">New Password</label>
                        </div>
                        <div class="col-auto">
                            <input asp-for="Password" type="password" class="form-control" aria-describedby="passwordHelpInline">
                        </div>
                        <div class="col-auto">
                            <span id="passwordHelpInline" class="form-text font-weight-light">
                                Enter your new password.
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="col-auto">
                            <label for="ConfirmPassword" class="col-form-label fs-6">Confirm new password</label>
                        </div>
                        <div class="col-auto">
                            <input asp-for="ConfirmPassword" type="password" class="form-control" aria-describedby="passwordHelpInline">
                        </div>
                        <div class="col-auto">
                            <span id="passwordHelpInline" class="form-text font-weight-light">
                                Re-enter your new password.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row my-3 d-flex flex-row-reverse">
                    <div class="col-md-4 d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

@*<form asp-controller="Accounts" asp-action="ChangePassword" method="post">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Your Current password:</label>
        <input asp-for="PasswordNow" type="password">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">New password</label>
        <input asp-for="Password" type="password">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Confirm new Password</label>
        <input asp-for="ConfirmPassword" type="password">
    </div>
    <button type="submit" class="btn btn-primary">Save changes</button>
</form>
*@