@{
    ViewData["Title"] = "Contact Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start Content Page -->
<div class="container-fluid bg-light py-5">
    <div class="col-md-6 m-auto text-center">
        <h1 class="h1">Contact Us</h1>
        <p>
            20 Cong Hoa, Ward 12, Tan Binh, HCMC
        </p>
        <p>
            +84 933-108-554
        </p>
    </div>
</div>

<div class="container-fluid bg-light pb-5">
    <div class="container-lg">
        <!-- Start Map -->
        <div id="mapid" style="width: 100%; height: 25rem;"></div>
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
        <script>
            var mymap = L.map('mapid').setView([10.803441965942048, 106.65285255451317, 13], 13);

            L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
                maxZoom: 18,
                attribution: 'FptBook | Store | Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                    '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                    'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                id: 'mapbox/streets-v11',
                tileSize: 512,
                zoomOffset: -1
            }).addTo(mymap);

            L.marker([10.803441965942048, 106.65285255451317, 13]).addTo(mymap)
                .bindPopup("<b>FPTBOOK</b> Store<br />Location.").openPopup();

            mymap.scrollWheelZoom.disable();
            mymap.touchZoom.disable();
        </script>
        <!-- End Map -->
    </div>
</div>
