
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>

        <link rel="stylesheet" href="~/assets/css/CustomLogin.css">

</head>
<body>
    <div class="login-box">
        <div class="login-box-formbox">
            <div class="login-box-signup">
                Already have an account? <a href="/Home/Login">Log In</a>
            </div>
            <div class="login-box-login">
                <h1>Welcome to <br /> Timpus Web Store</h1>
                <p>
                    We sell eletric mobile devices
                </p>
                <form action="#">
                    <div>
                        <label for="fullname"> Full Name</label>
                        <input type="text" name="fullname" class="" />
                    </div>
                    <div>
                        <label for="username"> Username</label>
                        <input type="text" name="username" class="" />
                    </div>
                    <div>
                        <label for="email"> E-Mail</label>
                        <input type="email" name="email" class="input-email" />
                    </div>
                    <div>
                        <label for="phone"> Phone</label>
                        <input type="text" name="phone" class="" />
                    </div>
                    <div>
                        <label for="address"> Address</label>
                        <input type="text" name="address" class="" />
                    </div>
                    <div>
                        <label for="password"> Password</label>
                        <input type="password" name="password" class="input-password" />
                    </div>
                    <div>
                        <input type="button" value="Login to account" class="btn" />
                    </div>
                </form>
            </div>
        </div>
        <div class="login-box-quotebox">
            <div class="quote-container">
                <div class="quote">We sell <br /> eletric mobile devices</div>
                <div class="quote-small">
                    "Wanna enjoy the latest products from famous brand. Join us now for new updated product every day."
                </div>
            </div>
        </div>
    </div>
</body>
</html>
