
@{
    ViewData["Title"] = "FPTBOOK Admin Panel";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
 
 <!-- Content Wrapper START -->
<div class="main-content">
    <h1 style="margin:auto">Dashboard</h1>
</div>
<!-- Content Wrapper END -->