
@{
    ViewData["Title"] = "FPTBOOK Admin Panel";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
 
<div class="container-fluid">
    <img src="~/admin_assets/images/logo/FPTBOOK-admin.png" class="img-fluid mx-auto d-block" style="border-radius:20px" alt="...">
</div>