<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
                <div class="app-brand demo">
                    <a class="app-brand-link" asp-area="Admin" asp-controller="Home" asp-action="Index">
                        <span class="app-brand-text demo menu-text fw-bolder ms-2">Timpus</span>
                    </a>
                    <span class="app-brand-sm-text demo menu-text">Admin panel</span>


                    <a href="javascript:void(0);"
                        class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                        <i class="bx bx-chevron-left bx-sm align-middle"></i>
                    </a>
                </div>

                <div class="menu-inner-shadow"></div>

                <ul class="menu-inner py-1">
                    <!-- Dashboard -->
                    <li class="menu-item">
                        <a href="#" class="menu-link">
                            <i class="menu-icon tf-icons fa-solid fa-house-laptop"></i>
                            <div>Summary</div>
                        </a>
                    </li>

                    <!-- Layouts -->
                    <li class="menu-item">
                        <a href="./admin-account-management.html" class="menu-link">
                            <i class="menu-icon tf-icons fa-solid fa-user-gear"></i>
                            <div>Accounts</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <!-- <i class='menu-icon tf-icons bx bx-category-alt'></i> -->
                            <i class='menu-icon tf-icons fa-solid fa-list-alt'></i>

                            <div>Products</div>
                        </a>

                        <ul class="menu-sub">
                            <a href="./Category-addnew.html" class="menu-link">
                                <i class="menu-icon tf-icons fa-solid fa-circle-plus"></i>
                                <div>Add new category</div>
                            </a>
                            <a href="#" class="menu-link">
                                <i class="menu-icon tf-icons fa-solid fa-circle-plus"></i>
                                <div>Add new model</div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <li class="menu-item">
                                <a href="./Category-samsung.html" class="menu-link">
                                    <div>Samsung</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="./Category-iphone.html" class="menu-link">
                                    <div>Iphone</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="./Category-xiaomi.html" class="menu-link">
                                    <div>Xiaomi</div>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class='menu-icon tf-icons fa-solid fa-file-invoice-dollar'></i>
                            <div>Orders</div>
                        </a>

                        <ul class="menu-sub">
                            <li class="menu-item">
                                <a href="./Orders-allorders.html" class="menu-link">
                                    <div>All Orders</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="javascript:void(0);" class="menu-link">
                                    <i class='menu-icon tf-icons bx bx-label'></i>
                                    <div>Pending</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="javascript:void(0);" class="menu-link">
                                    <i class='menu-icon tf-icons bx bxs-label'></i>
                                    <div>On going</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="javascript:void(0);" class="menu-link">
                                    <i class='menu-icon tf-icons bx bxs-check-square'></i>
                                    <div>Finished</div>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class='menu-icon tf-icons fa-solid fa-user-group'></i>
                            <div>Customers</div>
                        </a>
                    </li>
                </ul>
            </aside>