@model TimpusProject.Models.Category

@{
    ViewData["Title"] = "Create new category";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <h2 class="header-title">Create new category</h2>
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a href="javascript:void(0)" class="breadcrumb-item">Products Management</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="Categories" asp-action="Index">Categories</a>
            <span class="breadcrumb-item active">Create new category</span>
        </nav>
    </div>
</div>


<a asp-action="index"><p class="h6 font-weight-light text-primary"><i class="anticon anticon-arrow-left"></i> Back to categories</p></a>

<div class="card">
    <div class="card-body">
        <form asp-action="Create">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>

            <div class="form-group row">
                <label asp-for="CatName" class="col-sm-2 col-form-label">Category name</label>
                <div class="col-sm-10">
                    <input asp-for="CatName" class="form-control" placeholder="Category Name" />
                </div>
                <span asp-validation-for="CatName" class="text-danger"></span>
            </div>
            <div class="form-group row" hidden>
                <label asp-for="Description" class="col-sm-2 col-form-label">Description</label>
                <div class="col-sm-10">
                    <textarea asp-for="Description" id="description" class="form-control" placeholder="Description"></textarea>
                </div>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="Published" class="col-sm-2 col-form-label">Published</label>
                <div class="col-sm-10">
                    <select asp-for="Published" class="form-control">
                        <option value="True">True</option>
                        <option value="False">False</option>
                    </select>
                </div>
                <span asp-validation-for="Published" class="text-danger"></span>
            </div>
            <label asp-for="Description" class="row-sm-2 col-form-label">Description:</label>
            <div id="editor">
            </div>
            <div class="form-group row" i>
                <div class="col-sm-10 m-t-20">
                    <button type="submit" value="Save" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <script>
        var quill = new Quill('#editor', {
            theme: 'snow',
            placeholder: 'Enter the category description',
        });

        quill.root.innerHTML = jQuery('#description').val();

        jQuery(document).ready(function() {
            jQuery('#editor').keyup(function() {
                var myhtml = quill.root.innerHTML;
                console.log(myhtml);
                jQuery('#description').val(myhtml);
            });

        });
    </script>
}


